@layer components {
  .icon-sm {
    @apply w-[14px];
  }
  .link-sm {
    @apply text-xs leading-[34px] font-normal opacity-80 hover:underline hover:opacity-100 transition-all duration-300;
  }
  .link-md {
    @apply text-[13px] font-normal leading-[34px] opacity-80 hover:opacity-100 transition-all duration-300;
  }
  .arrow-hover {
    @apply p-2 bg-primary-gray rounded-full cursor-pointer
  }
  .hidden-element {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
  }
  .show-element {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.3s ease, visibility 0.3s ease;
  }  
}
